<p id="notice"><%= notice %></p>

<h1>Listando Bonificaciones</h1>

<table>
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Subcategoría</th>
      <th>Detalle bono</th>
      <th>Bono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonificacions.each do |bonificacion| %>
      <tr>
        <td><%= bonificacion.subcategorium.categorium.categoria%></td>
        <td><%= bonificacion.subcategorium.subcategoria %></td>
        <td><%= bonificacion.detalle_bono %></td>
        <td>$<%= number_to_currency(bonificacion.bono,strip_insignificant_zeros: true, :unit => "")%></td>
        <td><%= link_to 'Ver', bonificacion %></td>
        <td><%= link_to 'Editar', edit_bonificacion_path(bonificacion) %></td>
        <td><%= link_to 'Eliminar', bonificacion, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Bonificacion', new_bonificacion_path %>