<p id="notice"><%= notice %></p>

<table>
	<p>
	  <strong>Categoría:</strong>
	  <%= @bonificacion.subcategorium.categorium.categoria %>
	</p>

	<p>
	  <strong>Subcategoría:</strong>
	  <%= @bonificacion.subcategorium.subcategoria %>
	</p>

	<p>
	  <strong>Detalle bono:</strong>
	  <%= @bonificacion.detalle_bono %>
	</p>

	<p>
	  <strong>Bono:</strong>
	  $<%=number_to_currency(@bonificacion.bono,strip_insignificant_zeros: true, :unit => "")%>
	</p>
</table>

<%= link_to 'Editar', edit_bonificacion_path(@bonificacion) %> |
<%= link_to 'Volver', bonificacions_path %>