<p id="notice"><%= notice %></p>

<h3>Listando Indicadores económicos</h3>

<table>
  <thead>
    <tr>
      <th>Indicador</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicador_economicos.each do |indicador_economico| %>
      <tr>
        <td><%= indicador_economico.indicador %></td>
        <td>$<%= number_to_currency(indicador_economico.valor,strip_insignificant_zeros: true, :unit => "") %></td>
        <td><%= link_to 'Ver', indicador_economico %></td>
        <td><%= link_to 'Editar', edit_indicador_economico_path(indicador_economico) %></td>
        <td><%= link_to 'Eliminar', indicador_economico, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Indicador economico', new_indicador_economico_path %>
