<%= form_for(@subcategorium) do |f| %>
  <% if @subcategorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategorium.errors.count, "error") %> prohibited this subcategorium from being saved:</h2>

      <ul>
      <% @subcategorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :"Categoria a la que pertenece" %><br>
    <%= collection_select(:subcategorium, :categorium_id, Categorium.all, :id, :categoria, {:prompt => 'Seleccione la categoria'}) %>
  </div>
  <div class="field">
    <%= f.label :subcategoria %><br>
    <%= f.text_field :subcategoria %>
  </div>

  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Crear" : "Actualizar"), class: "btn" %>
    <%= f.submit "Limpiar", :type => "reset" %>
  </div>
<% end %>
