<p id="notice"><%= notice %></p>

<h1>Listando Subcategorias</h1>

<table>
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Subcategoría</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategoria.each do |subcategorium| %>
      <tr>
        <td><%= subcategorium.categorium.categoria %></td>
        <td><%= subcategorium.subcategoria %></td>
        <td><%= link_to 'Ver', subcategorium %></td>
        <td><%= link_to 'Editar', edit_subcategorium_path(subcategorium) %></td>
        <td><%= link_to 'Eliminar', subcategorium, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Subcategoría', new_subcategorium_path %>
