<p id="notice"><%= notice %></p>

<h3>Listando Asignaciones</h3>

<table>
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Subcategoría</th>
      <th>Asignación</th>
      <th>Detalle asignación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacions.each do |asignacion| %>
      <tr>
        <td><%= asignacion.subcategorium.categorium.categoria %></td>
        <td><%= asignacion.subcategorium.subcategoria %></td>
        <td><%= asignacion.detalle_asignacion %></td>
        <td>$<%=number_to_currency(asignacion.asignacion,strip_insignificant_zeros: true, :unit => "")%></td>
        <td><%= link_to 'Ver', asignacion %></td>
        <td><%= link_to 'Editar', edit_asignacion_path(asignacion) %></td>
        <td><%= link_to 'Eliminar', asignacion, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Asignacion', new_asignacion_path %>