<p id="notice"><%= notice %></p>

<table>
	<p>
	  <strong>Categoría:</strong>
	  <%= @asignacion.subcategorium.categorium.categoria %>
	</p>

	<p>
	  <strong>Subcategoría:</strong>
	  <%= @asignacion.subcategorium.subcategoria %>
	</p>
	<p>
	  <strong>Detalle asignación:</strong>
	  <%= @asignacion.detalle_asignacion %>
	</p>
	<p>
	  <strong>Asignación:</strong>
	 $<%= number_to_currency(@asignacion.asignacion,strip_insignificant_zeros: true, :unit => "") %>
	</p>


</table>


<%= link_to 'Editar', edit_asignacion_path(@asignacion) %> |
<%= link_to 'Volver', asignacions_path %>