<p id="notice"><%= notice %></p>

<table>
	<p>
	  <strong>Nombre:</strong>
	  <%= @centrocosto.nombre %>
	</p>

	<p>
	  <strong>Código:</strong>
	  <%= @centrocosto.codigo %>
	</p>

	<p>
	  <strong>Detalle centro:</strong>
	  <%= @centrocosto.detalle_centro %>
	</p>
</table>

<%= link_to 'Editar', edit_centrocosto_path(@centrocosto) %> |
<%= link_to 'Volver', centrocostos_path %>
