<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :apellido_paterno %><br>
      <%= f.text_field :apellido_paterno %>
    </div>  
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :apellido_materno %><br>
      <%= f.text_field :apellido_materno %>
    </div>  
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
  </div>
    <div class="large-6 columns">
      <div class="field">
      <%= f.label :rut_usuario %><br>
      <%= f.text_field :rut_usuario %>
    </div>
  </div>
  <div class="large-12 columns">
    <div class="field">
      <%= f.label :tipo_usuario %><br>
      <%= f.select :tipo_usuario, User::TIPOUSUARIO %>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
