<p id="notice"><%= notice %></p>

<h1>Listando trabajadores</h1>
<%= form_tag search_personals_path, :method => :get do %>
<p>
  <%= text_field_tag :query, params[:query] %> <%= submit_tag "Buscar trabajador" %>
</p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Nombre personal</th>
      <th>Isapre</th>
      <th>Subcategoria</th>
      <th>Contrato</th>
      <th>Afp</th>
      <th>Personal activo</th>
      <th>Fecha ingreso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personals.each do |personal| %>
      <tr>
        <td><%= personal.nombre_apellido %></td>
        <td><%= personal.isapre.isapre %></td>
        <td><%= personal.subcategorium.subcategoria %></td>
        <td><%= personal.tipocontrato.tipo_contrato %></td>
        <td><%= personal.afp.afp %></td>
        <td><%= trueToAct(personal.personal_activo) %></td>
        <td><%= personal.fecha_ingreso.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Ver', personal %></td>
        <td><%= link_to 'Editar', edit_personal_path(personal) %></td>
        <td><%= link_to 'Eliminar', personal, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <div class="row">
<%= will_paginate @personals, previous_label: h("<"), next_label: h(">"), renderer: FoundationPagination::Rails%>
</div>
<%= link_to 'Nuevo Trabajador', new_personal_path %>
