<p id="notice"><%= notice %></p>

<table>
  <p>
    <strong>Nombre trabajador:</strong>
    <%= @personal.nombre_apellido %>
  </p>

  <p>
    <strong>Rut trabajador:</strong>
    <%= @personal.rut_personal %>
  </p>

  <p>
    <strong>Isapre:</strong>
    <%= @personal.isapre.isapre %>
  </p>

  <p>
    <strong>Descuento Isapre:</strong>
    $<%= number_to_currency(@personal.descuento_isapre,strip_insignificant_zeros: true, :unit => "") %>
  </p>  

  <p>
    <strong>APV:</strong>
    $<%= number_to_currency(@personal.cotizacion_voluntaria,strip_insignificant_zeros: true, :unit => "")%>
  </p>  

  <p>
    <strong>Cargas Familiares:</strong>
    <%= @personal.cargas_familiar %>
  </p>
  <p>
    <strong>Banco:</strong>
    <%= @personal.banco.banco %>
  </p>

  <p>
    <strong>Subcategoría:</strong>
    <%= @personal.subcategorium.subcategoria %>
  </p>

  <p>
    <strong>Tipo contrato:</strong>
    <%= @personal.tipocontrato.tipo_contrato %>
  </p>

  <p>
    <strong>Centro de costo:</strong>
    <%= @personal.centrocosto.nombre %>
  </p>

  <p>
    <strong>Afp:</strong>
    <%= @personal.afp.afp %>
  </p>

  <p>
    <strong>Personal activo:</strong>
    <%= trueToAct(@personal.personal_activo) %>
  </p>

  <p>
    <strong>Fecha ingreso:</strong>
    <%= @personal.fecha_ingreso.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Sindicato:</strong>
    <%= @personal.sindicato.nombre_sindicato %>
  </p>

  <p>
    <strong>Numero cuenta:</strong>
    <%= @personal.numero_cuenta %>
  </p>
</table>

<%= link_to 'Editar', edit_personal_path(@personal) %> |
<%= link_to 'Volver', personals_path %>

