<p id="notice"><%= notice %></p>

<h3>Sueldos Bases</h3>

<table>
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Subcategoría</th>
      <th>Sueldo base</th>
      <th>Horas mensuales</th>
      <th>Valor hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @haberes.each do |habere| %>
      <tr>
        <td><%= habere.subcategorium.categorium.categoria %></td>
        <td><%= habere.subcategorium.subcategoria %></td>
        <td>$<%=number_to_currency(habere.sueldo_base,strip_insignificant_zeros: true, :unit => "")%></td>
        <td><%= number_to_currency(habere.horas_pactadas,strip_insignificant_zeros: true, :unit => "") %></td>
        <td>$ <%= number_to_currency(habere.valor_hora,strip_insignificant_zeros: true, :unit => "") %></td>
        <td><%= link_to 'Ver', habere %></td>
        <td><%= link_to 'Editar', edit_habere_path(habere) %></td>
        <td><%= link_to 'Eliminar', habere, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Sueldo', new_habere_path %>
