<p id="notice"><%= notice %></p>

<table>
  <p>
    <strong>Categoria:</strong>
    <%= @habere.subcategorium.categorium.categoria %>
  </p>

  <p>
    <strong>Subcategoria:</strong>
    <%= @habere.subcategorium.subcategoria %>
  </p>

  <p>
    <strong>Sueldo base:</strong>
   $<%=number_to_currency(@habere.sueldo_base,strip_insignificant_zeros: true, :unit => "")%>
  </p>

  <p>
    <strong>Horas pactadas:</strong>
    <%= @habere.horas_pactadas %>
  </p>

  <p>
    <strong>Valor hora:</strong>
    $<%=number_to_currency(@habere.valor_hora,strip_insignificant_zeros: true, :unit => "")%>
  </p>
</table>

<%= link_to 'Editar', edit_habere_path(@habere) %> |
<%= link_to 'Volver', haberes_path %>
