<%= form_for(@afp) do |f| %>
  <% if @afp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@afp.errors.count, "error") %> prohibited this afp from being saved:</h2>

      <ul>
      <% @afp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :afp %><br>
    <%= f.text_field :afp %>
  </div>
  <div class="field">
    <%= f.label :descuento_afp %><br>
    <%= f.text_field :descuento_afp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
