<p id="notice"><%= notice %></p>

<p>
  <strong>Afp:</strong>
  <%= @afp.afp %>
</p>

<p>
  <strong>Descuento afp:</strong>
  <%= @afp.descuento_afp %>%
</p>

<%= link_to 'Editar', edit_afp_path(@afp) %> |
<%= link_to 'Volver', afps_path %>
