<p id="notice"><%= notice %></p>

<p>
  <strong>Personal:</strong>
  <%= @certificate.personal.nombre_apellido %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @certificate.motivo %>
</p>
<p>
<%= link_to "Certificado en PDF", certificate_path(@certificate, format: "pdf")%>
</p>
<%if current_user%>
<%= link_to 'Editar', edit_certificate_path(@certificate) %> |
<%end%>
<%= link_to 'Volver', certificates_path %>
