<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_empresa %><br>
    <%= f.text_field :nombre_empresa %>
  </div>
  <div class="field">
    <%= f.label :rut_empresa %><br>
    <%= f.text_field :rut_empresa %>
  </div>
  <div class="field">
    <%= f.label :giro %><br>
    <%= f.text_field :giro %>
  </div>
  <div class="field">
    <%= f.label :domicilio %><br>
    <%= f.text_field :domicilio %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Crear" : "Actualizar"), class: "btn" %>
    <%= f.submit "Limpiar", :type => "reset" %>
  </div>
<% end %>
