<%= form_for(@liquidacion) do |f| %>
  <% if @liquidacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidacion.errors.count, "error") %> prohibited this liquidacion from being saved:</h2>

      <ul>
      <% @liquidacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :"Categoria" %><br>
      <%= collection_select(nil, :categorium_id, Categorium.order(:categoria), :id, :categoria, include_blank: :true) %>
    </div> 
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :"Subcategoria" %><br>
      <%= grouped_collection_select(nil, :subcategorium_id, Categorium.order(:categoria), :subcategorium, :categoria, :id, :subcategoria, {include_blank: :true}) %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :personal_id %><br>
      <%= grouped_collection_select(:liquidacion, :personal_id, Subcategorium.order(:subcategoria), :personal, :subcategoria, :id, :nombre_apellido, include_blank: :true) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :"Sueldo base por hora trabajada" %><br>
      <%= grouped_collection_select(:liquidacion, :habere_id, Subcategorium.order(:subcategoria), :habere, :subcategoria, :id, :valor_hora, {include_blank: :true}) %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :horas_trabajadas %><br>
      <%= f.text_field :horas_trabajadas %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :remuneracion %><br>
      <%= f.number_field :remuneracion, :readonly => true %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :cantidad_horas_extra %><br>
      <%= f.text_field :cantidad_horas_extra %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :horas_extra %><br>
      <%= f.text_field :horas_extra, :readonly => true %>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :asignacion_id %><br>
      <%= grouped_collection_select(:liquidacion, :asignacion_id, Subcategorium.order(:subcategoria), :asignacion, :subcategoria, :id, :asignacion, {include_blank: :true}) %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :bonificacion_id %><br>
  <!--     <%= grouped_collection_select(:liquidacion, :bonificacion_id, Subcategorium.order(:subcategoria), :bonificacion, :subcategoria, :id, :bono, {},{:multiple => true ,include_blank: :true}) %> -->
      <%= grouped_collection_select(:liquidacion, :bonificacion_id, Subcategorium.order(:subcategoria), :bonificacion, :subcategoria, :id, :bono, include_blank: :true) %>
    </div>
  </div>
</div>
<div class="row">  
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :vacaciones %><br>
      <%= f.text_field :vacaciones %>
    </div>
  </div>
</div>
<div class="row">  
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :total_imponible %><br>
      <%= f.text_field :total_imponible, :readonly => true  %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :total_haberes %><br>
      <%= f.number_field :total_haberes, :readonly => true %>
    </div>
     
  </div>
</div>
<div class="row">  
  <div class="large-12 columns">
   <%= submit_tag "Calcular totales de haberes", type: 'button', id: 'calculoHaberes' %> 
  </div>
</div>
<hr>

<div class="row">
  <div class="large-3 columns">
  <%= hidden_field_tag "monto1", AsignacionFamiliar.where(id: 1).limit(1).pluck(:monto) %>
  <%= hidden_field_tag "monto2", AsignacionFamiliar.where(id: 2).limit(1).pluck(:monto) %>
  <%= hidden_field_tag "monto3", AsignacionFamiliar.where(id: 3).limit(1).pluck(:monto) %>
  <%= hidden_field_tag "monto4", AsignacionFamiliar.where(id: 4).limit(1).pluck(:monto) %>
  </div>
  <div class="large-3 columns">
  <%= hidden_field_tag "asignacion1", AsignacionFamiliar.where(id: 1).limit(1).pluck(:requisitoMaximo) %>
  <%= hidden_field_tag "asignacion2", AsignacionFamiliar.where(id: 2).limit(1).pluck(:requisitoMaximo) %>
  <%= hidden_field_tag "asignacion3", AsignacionFamiliar.where(id: 3).limit(1).pluck(:requisitoMaximo) %>
  <%= hidden_field_tag "topeslegales1", TopesLegale.where(id: 1).limit(1).pluck(:topemaximo) %>
  </div>
  <div class="large-3 columns">
  <%= hidden_field_tag "impuesto1", ImpuestoUnico.where(id: 1).limit(1).pluck(:imponibleMaximo) %>
  <%= hidden_field_tag "impuesto2", ImpuestoUnico.where(id: 2).limit(1).pluck(:imponibleMaximo) %>
  <%= hidden_field_tag "impuesto3", ImpuestoUnico.where(id: 3).limit(1).pluck(:imponibleMaximo) %>
  <%= hidden_field_tag "impuesto4", ImpuestoUnico.where(id: 4).limit(1).pluck(:imponibleMaximo) %>
  <%= hidden_field_tag "impuesto5", ImpuestoUnico.where(id: 5).limit(1).pluck(:imponibleMaximo) %>
  <%= hidden_field_tag "impuesto6", ImpuestoUnico.where(id: 6).limit(1).pluck(:imponibleMaximo) %>
  <%= hidden_field_tag "impuesto7", ImpuestoUnico.where(id: 7).limit(1).pluck(:imponibleMaximo) %>
  </div>
  <div class="large-3 columns">
  <%= hidden_field_tag "factor2", ImpuestoUnico.where(id: 2).limit(1).pluck(:factor) %>
  <%= hidden_field_tag "factor3", ImpuestoUnico.where(id: 3).limit(1).pluck(:factor) %>
  <%= hidden_field_tag "factor4", ImpuestoUnico.where(id: 4).limit(1).pluck(:factor) %>
  <%= hidden_field_tag "factor5", ImpuestoUnico.where(id: 5).limit(1).pluck(:factor) %>
  <%= hidden_field_tag "factor6", ImpuestoUnico.where(id: 6).limit(1).pluck(:factor) %>
  <%= hidden_field_tag "factor7", ImpuestoUnico.where(id: 7).limit(1).pluck(:factor) %>
  <%= hidden_field_tag "factor8", ImpuestoUnico.where(id: 8).limit(1).pluck(:factor) %>
  </div>
    <div class="large-3 columns">
  <%= hidden_field_tag "rebaja2", ImpuestoUnico.where(id: 2).limit(1).pluck(:rebaja) %>
  <%= hidden_field_tag "rebaja3", ImpuestoUnico.where(id: 3).limit(1).pluck(:rebaja) %>
  <%= hidden_field_tag "rebaja4", ImpuestoUnico.where(id: 4).limit(1).pluck(:rebaja) %>
  <%= hidden_field_tag "rebaja5", ImpuestoUnico.where(id: 5).limit(1).pluck(:rebaja) %>
  <%= hidden_field_tag "rebaja6", ImpuestoUnico.where(id: 6).limit(1).pluck(:rebaja) %>
  <%= hidden_field_tag "rebaja7", ImpuestoUnico.where(id: 7).limit(1).pluck(:rebaja) %>
  <%= hidden_field_tag "rebaja8", ImpuestoUnico.where(id: 8).limit(1).pluck(:rebaja) %>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :porcentaje_afp %><br>
      <%= collection_select(nil, :afp_id, Afp.all, :descuento_afp, :afp, {:prompt => 'Seleccione afp'}) %>
      <%= f.hidden_field :porcentaje_afp %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :descuento_afp %><br>
      <%= f.number_field :descuento_afp, :readonly => true %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :cotizacion_voluntaria %><br>
      <%= f.text_field :cotizacion_voluntaria %>
    </div>
  </div>
  <div class="large-6 columns"> 
    <div class="field">
      <%= f.label :descuento_isapre %><br>
      <%= f.number_field :descuento_isapre %>
    </div>
  </div>
</div>  
 <div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :"Numero de cargas" %><br>
      <%= text_field_tag "numeroCargas" %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :asignacion_familiar %><br>
      <%= f.text_field :asignacion_familiar, :readonly => true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :sindicato %><br>
      <%= collection_select(:liquidacion, :sindicato, Sindicato.all, :cuota_sindical, :nombre_sindicato, {include_blank: :true}) %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :impuesto %><br>
      <%= f.text_field :impuesto %>
      <%= submit_tag "Calcular Impuesto", type: 'button', id: 'impuesto' %> 
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :descuento_adicional_id %><br>
      <%= collection_select(:liquidacion, :descuento_adicional_id, DescuentoAdicional.all, :id, :descuento_adicional, {include_blank: :true}) %>
    </div>
  </div>
</div> 

<div class="row">
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :desc_legales %><br>
      <%= f.number_field :desc_legales, :readonly => true %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :desc_varios %><br>
      <%= f.number_field :desc_varios, :readonly => true %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :liquido_pagar %><br>
      <%= f.number_field :liquido_pagar, :readonly => true %>
    </div>
  </div>  
</div> 
<div class="row">  
  <div class="large-12 columns">
   <%= submit_tag "Calcular liquido a pagar", type: 'button', id: 'coffeeScript' %> 
  </div>
</div>
<hr>

  <div class="field">
    <%= f.label :fecha_pago %><br>
    <%= f.date_select :fecha_pago,{ start_year: DateTime.now.year+1, end_year: DateTime.now.year - 10, order: [:day, :month, :year], include_blank: true},:style => "width: 221px;"%>
  </div>
  

  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Crear" : "Actualizar"), class: "btn" %>
  </div>
<% end %>


