<%= form_for(@liquidacion) do |f| %>
  <% if @liquidacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidacion.errors.count, "error") %> prohibited this liquidacion from being saved:</h2>

      <ul>
      <% @liquidacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :"Subcategoria" %><br>
    <%= grouped_collection_select(nil, :subcategorium_id, Categorium.order(:categoria), :subcategorium, :categoria, :id, :subcategoria, include_blank: :true) %>
  </div>
  
  <div class="field">
    <%= f.label :personal_id %><br>
    <%= grouped_collection_select(:liquidacion, :personal_id, Subcategorium.order(:subcategoria), :personal, :subcategoria, :id, :nombre_apellido, include_blank: :true) %>
  </div>

  <div class="field">
    <%= f.label :"Sueldo base por hora trabajada" %><br>
    <%= grouped_collection_select(:liquidacion, :habere_id, Subcategorium.order(:subcategoria), :habere, :subcategoria, :id, :valor_hora, {include_blank: :true}) %>
  </div>

  <div class="field">
    <%= f.label :horas_trabajadas %><br>
    <%= f.text_field :horas_trabajadas %>
  </div>

  <div class="field">
    <%= f.label :remuneracion %><br>
    <%= f.number_field :remuneracion, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :asignacion_id %><br>
    <%= grouped_collection_select(:liquidacion, :asignacion_id, Subcategorium.order(:subcategoria), :asignacion, :subcategoria, :id, :asignacion, {include_blank: :true}) %>
  </div>

  <div class="field">
    <%= f.label :bonificacion_id %><br>
    <%= grouped_collection_select(:liquidacion, :bonificacion_id, Subcategorium.order(:subcategoria), :bonificacion, :subcategoria, :id, :bono, include_blank: :true) %>
  </div>
  
  <div class="field">
    <%= f.label :total_haberes %><br>
    <%= f.number_field :total_haberes, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :descuento_adicional_id %><br>
    <%= collection_select(:liquidacion, :descuento_adicional_id, DescuentoAdicional.all, :id, :descuento_adicional, {include_blank: :true}) %>
  </div>
 
  <div class="field">
    <%= f.label :descuento_afp %><br>
    <%= text_field_tag 'porcentaje_afp','minimo de 10%'%>
    <%= f.number_field :descuento_afp, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :descuento_isapre %><br>
    <%= text_field_tag 'porcentaje_isapre','minimo de 7%'%>
    <%= f.number_field :descuento_isapre, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :sindicato %><br>
    <%= f.text_field :sindicato , :value=> "0"%>
  </div>

  <div class="field">
    <%= f.label :impuesto %><br>
    <%= f.text_field :impuesto , :value=> "0"%>
  </div>

  <div class="field">
    <%= f.label :cotizacion_voluntaria %><br>
    <%= f.text_field :cotizacion_voluntaria , :value=> "0"%>
  </div>

  <div class="field">
    <%= f.label :horas_extra %><br>
    <%= text_field_tag 'cantidad_horas', '0'%>
    <%= f.text_field :horas_extra, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :vacaciones %><br>
    <%= f.text_field :vacaciones %>
  </div>

  <div class="field">
    <%= f.label :desc_legales %><br>
    <%= f.number_field :desc_legales, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :desc_varios %><br>
    <%= f.number_field :desc_varios, :readonly => true %>
  </div>
  
  <div class="field">
    <%= f.label :liquido_pagar %><br>
    <%= f.number_field :liquido_pagar, :readonly => true %>
    <%= submit_tag "Calcular", type: 'button', id: 'coffeeScript' %> 
  </div>

  <div class="field">
    <%= f.label :fecha_pago %><br>
    <%= f.date_select :fecha_pago %>
  </div>
  
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Crear" : "Actualizar"), class: "btn" %>
  </div>
<% end %>
