<p id="notice"><%= notice %></p>

<h1>Listando Liquidaciones</h1>

<table>
  <thead>
    <tr>
      <th>Nombre de trabajador</th>
      <th>Asignacion</th>
      <th>Sueldo base</th>
      <th>Bonificacion</th>
      <th>Fecha pago</th>
      <th>Horas trabajadas</th>
      <th>Liquido pagar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liquidacions.each do |liquidacion| %>
      <tr>
        <td><%= liquidacion.personal.nombre_apellido %></td>
        <td>$<%= number_to_currency(liquidacion.asignacion.asignacion,strip_insignificant_zeros: true, :unit => "") %></td>
        <td>$<%= number_to_currency(liquidacion.habere.valor_hora,strip_insignificant_zeros: true, :unit => "") %></td>
        <td>$<%= number_to_currency(liquidacion.bonificacion.bono,strip_insignificant_zeros: true, :unit => "") %></td>
        <td><%= liquidacion.fecha_pago.strftime("%d/%m/%Y")  %></td>
        <td><%= liquidacion.horas_trabajadas %></td>
        <td>$<%= number_to_currency(liquidacion.liquido_pagar,strip_insignificant_zeros: true, :unit => "" )%></td>
        <td><%= link_to 'Ver', liquidacion %></td>
        <%if current_user%>
        <td><%= link_to 'Editar', edit_liquidacion_path(liquidacion) %></td>
        <td><%= link_to 'Eliminar', liquidacion, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_user%>
<%= link_to 'Nueva Liquidacion', new_liquidacion_path %>
<%end%>