<p id="notice"><%= notice %></p>

<h1>Listando Liquidaciones</h1>
<%= form_tag liquidacions_path, :method => "get", id: "search-form" do %>
<p>
<div class="row">
  <div class="large-4 columns">
    <div class="field">
      <%= text_field_tag :start_period, params[:start_period], placeholder: 'Fecha de Inicio'%>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= text_field_tag :end_period, params[:end_period], placeholder: 'Fecha de Termino' %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= submit_tag "Buscar por fecha" %>
    </div>
  </div>
</div>

</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Nombre de trabajador</th>
      <th>Asignación</th>
      <th>Sueldo base</th>
      <th>Bonificación</th>
      <th>Fecha pago</th>
      <th>Horas trabajadas</th>
      <th>Líquido pagar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liquidacions.each do |liquidacion| %>
      <tr>
        <td><%= liquidacion.personal.nombre_apellido %></td>
        <td>$<%= number_to_currency(liquidacion.asignacion.asignacion,strip_insignificant_zeros: true, :unit => "") %></td>
        <td>$<%= number_to_currency(liquidacion.habere.valor_hora,strip_insignificant_zeros: true, :unit => "") %></td>
        <td>$<%= number_to_currency(liquidacion.bonificacion.bono,strip_insignificant_zeros: true, :unit => "") %></td>
        <td><%= liquidacion.fecha_pago.strftime("%d/%m/%Y")  %></td>
        <td><%= liquidacion.horas_trabajadas %></td>
        <td>$<%= number_to_currency(liquidacion.liquido_pagar,strip_insignificant_zeros: true, :unit => "" )%></td>
        <td><%= link_to 'Ver', liquidacion %></td>
        <%if current_user.tipo_usuario=="Administrador"%>
        <td><%= link_to 'Editar', edit_liquidacion_path(liquidacion) %></td>
        <td><%= link_to 'Eliminar', liquidacion, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_user.tipo_usuario=="Administrador"%>
<%= link_to 'Nueva Liquidacion', new_liquidacion_path %>
<%end%>