<p id="notice"><%= notice %></p>

<table>
  <td>
    <p>
      <strong>Trabajador:</strong>
      <%= @liquidacion.personal.nombre_apellido %>
    </p>

    <p>
      <strong>Sueldo base:</strong>
      $<%= number_to_currency(@liquidacion.habere.valor_hora,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Horas trabajadas:</strong>
      <%= @liquidacion.horas_trabajadas %>
    </p>

    <p>
      <strong>Remuneracion:</strong>
      $<%= number_to_currency(@liquidacion.remuneracion,strip_insignificant_zeros: true, :unit => "") %>
    </p>
    <p>
      <strong>Cantidad horas extra:</strong>
      <%= @liquidacion.cantidad_horas_extra %>
    </p>

    <p>
      <strong>Horas extra:</strong>
      $<%= number_to_currency(@liquidacion.horas_extra,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
    <%if @liquidacion.asignacion.asignacion != nil%>
      <strong>Asignacion:</strong>
      $<%= number_to_currency(@liquidacion.asignacion.asignacion,strip_insignificant_zeros: true, :unit => "") %>
    <%end%>
    </p>

    <p>
    <%if @liquidacion.bonificacion.bono != nil%>
      <strong>Bonificacion:</strong>
      $<%= number_to_currency(@liquidacion.bonificacion.bono,strip_insignificant_zeros: true, :unit => "") %>
    <%end%>
    </p>

    <p>
      <strong>Vacaciones:</strong>
      $<%= number_to_currency(@liquidacion.vacaciones,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Total imponible:</strong>
      $<%= number_to_currency(@liquidacion.total_imponible,strip_insignificant_zeros: true, :unit => "") %>
    </p>


    <p>
      <strong>Total haberes:</strong>
      $<%= number_to_currency(@liquidacion.total_haberes,strip_insignificant_zeros: true, :unit => "")%>
    </p>


    <p>
    <%if @liquidacion.descuento_adicional !=nil%>
      <strong>Descuento adicional:</strong>
      $<%= number_to_currency(@liquidacion.descuento_adicional.descuento_adicional,strip_insignificant_zeros: true, :unit => "") %>
    <%end%>
    </p>



  </td>

  <td>
    <p>
      <strong>Porcentaje afp:</strong>
      <%= @liquidacion.porcentaje_afp %>%
    </p>

    <p>
      <strong>Descuento afp:</strong>
      $<%= number_to_currency(@liquidacion.descuento_afp,strip_insignificant_zeros: true, :unit => "") %>
    </p>
    <p>
      <strong>Descuento isapre:</strong>
      $<%= number_to_currency(@liquidacion.descuento_isapre,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Sindicato:</strong>
      $<%= number_to_currency(@liquidacion.sindicato,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Impuesto:</strong>
      $<%= number_to_currency(@liquidacion.impuesto,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Cotizacion voluntaria:</strong>
      $<%= number_to_currency(@liquidacion.cotizacion_voluntaria,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Total desc. legales:</strong>
      $<%= number_to_currency(@liquidacion.desc_legales,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Total desc. varios:</strong>
      $<%= number_to_currency(@liquidacion.desc_varios,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Liquido pagar:</strong>
      $<%= number_to_currency(@liquidacion.liquido_pagar,strip_insignificant_zeros: true, :unit => "") %>
    </p>

    <p>
      <strong>Fecha pago:</strong>
      <%= @liquidacion.fecha_pago.strftime("%d/%m/%Y") %>
    </p>

  </td>
</table>

<p>
<%= link_to "Liquidacion en pdf", liquidacion_path(@liquidacion, format: "pdf")%>
</p>

<%if current_user%>
<%= link_to 'Editar', edit_liquidacion_path(@liquidacion) %>|
<%end%>
<%= link_to 'Volver', liquidacions_path %>



