<!DOCTYPE html>
<html lang="en">

<div id="wrapper">
  <head>
      <javascript_include_tag "vendor/modernizr">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Remuneraciones Beta" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    <div class="callout large primary">
      <div class="row column text-center">
        <h3>Sistema de Remuneraciones</h3>
      </div>
    </div>
  
  <!--Cuerpo principal-->
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="menu dropdown" data-dropdown-menu>
            <li><a href="/index">Remuneraciones</a></li>
              <% if current_user.nil? %>
                <li><a class="button" href="/login">Entrar</a></li>
                <%end%>
              <% if current_user and current_user.tipo_usuario == "Administrador" %>
            <li><a href="#">Personal</a>
              <ul class="menu">
                <li><a href="/personals">Lista de personal</a></li>
                <li><a href="/personals/new">Nuevo personal</a></li>
              </ul>
            </li>
            <li><a href="#">Categorización</a>
              <ul class="menu">
                <li><a href="/categoria">Categoría</a></li>
                <li><a href="/subcategoria">Subcategoría</a></li>
              </ul>
            </li>
            <li><a href="#">Remuneración</a>
              <ul class="menu">
                <li><a href="/haberes">Sueldo Base</a></li>
                <li><a href="/bonificacions">Bonificaciones</a></li>
                <li><a href="/asignacions">Asignaciones</a></li>
                <li><a href="/descuento_adicionals">Descuentos Adicionales</a></li>
              </ul>
            </li>
            <li><a href="#">Parametros</a>
              <ul class="menu">
                <li><a href="/centrocostos">Centro de costos</a></li>
                <li><a href="/empresas">Mi Empresa</a></li>
                <li><a href="/afps">Afp</a></li>
                <li><a href="/isapres">Isapres</a></li>
                <li><a href="/bancos">Bancos</a></li>
                <li><a href="/tipocontratos">Contratos</a></li>
                <li><a href="/sindicatos">Sindicato</a></li>
                <li><a href="/users">Usuarios</a></li>
              </ul>
            </li>
            <li><a href="#">Términos legales</a>
              <ul class="menu">
                <li><a href="/indicador_economicos">UF</a></li>
                <li><a href="/topes_legales">Topes Legales</a></li>
                <li><a href="/asignacion_familiars">Asignación familiar</a></li>
                <li><a href="/impuesto_unicos">Impuesto unico</a></li>
              </ul>
            </li>
            <li><a href="/liquidacions">Liquidaciones</a></li>
            <li><a href="/certificates">Certificados</a></li>
            <li><a class="button" href="/logout">Salir</a></li>
            <li> &nbsp Ha ingresado como: <br/>&nbsp <%= current_user.nombre %>.</li>
            <%elsif current_user and current_user.tipo_usuario == "Empleado"%>
              <li><a href="/liquidacions">Liquidaciones</a></li>
              <li><a href="/certificates">Certificados</a></li>
              <li><a class="button" href="/logout">Salir</a></li>
              <li> &nbsp Ha ingresado como: <br/>&nbsp <%= current_user.nombre %>.</li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
 
  
  <!-- /Navigation -->  
   <div class="row" id="content">
      <div class="medium-9 columns">
        <%= yield %>   
      </div>
   </div>


<hr>
<div class="footer">
  <div class="row">
    <div class="medium-6 columns">
      <h3>Contactenos</h3>
          <p>En caso de necesitar soporte tecnico o realizar consultas acerca del funcionamiento del programa, <a href="mailto:webmaster@example.com"> contacta</a> con nosotros y te responderemos a la brevedad posible.</p>
    </div>      
  </div>
</div>  
</div>

</html>