<!DOCTYPE html>
<html lang="en">
<body>
<div id="wrapper">
  <head>
      <javascript_include_tag "vendor/modernizr">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Remuneraciones Beta" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <h1 class="text-center">asd</h1>
  <!-- Navigation -->
  <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/index">Remuneraciones</a></li>
         <li class="has-dropdown">
                <a href="#">Personal</a>
                  <ul class="menu">
                    <li><a href="/personals">Lista de personal</a></li>
                    <li><a href="/personals/new">Nuevo personal</a></li>
                  </ul>
              </li>
              <li class="has-dropdown">
                  <a href="#">Categorizacion</a>
                    <ul class="menu">
                      <li class="has-dropdown">
                        <a href="#">Categoria</a>
                          <ul class="menu">
                            <li><a href="/categoria">Lista de categorias</a></li>
                            <li><a href="/categoria/new">Nueva categoria</a></li>
                          </ul>
                      </li>
                      <li class="has-dropdown">
                        <a href="#">Subcategoria</a>
                          <ul class="menu">
                            <li><a href="/subcategoria">Lista de subcategorias</a></li>
                            <li><a href="/subcategoria/new">Nueva subcategoria</a></li>
                          </ul>
                      </li>
                    </ul>
              </li>
              <li class="has-dropdown">
                  <a href="#">Remuneracion</a>
                    <ul class="menu">
                      <li><a href="/haberes">Haberes</a></li>
                      <li><a href="/bonificacions">Bonificaciones</a></li>
                      <li><a href="/asignacions">Asignaciones</a></li>
                      <li class="has-dropdown">
                        <a href="#">Descuentos</a>
                          <ul class="menu">
                            <li><a href="/descuento_adicionals">Descuentos Adicionales</a></li>
                          </ul>
                      </li>
                    </ul>
              </li>   
              <li class="has-dropdown">
                  <a href="#">Parametros</a>
                    <ul class="menu">
                      <li><a href="/centrocostos">Centro de costos</a></li>
                      <li><a href="/empresas">Mi Empresa</a></li>
                      <li><a href="/afps">Afp</a></li>
                      <li><a href="/isapres">Isapres</a></li>
                      <li><a href="/bancos">Bancos</a></li>
                      <li><a href="/tipocontratos">Contratos</a></li>
                    </ul>
              </li>
            
            <li><a href="/liquidacions">Liquidaciones</a></li>
            
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        
      </ul>
    </div>
  </div>
  <!-- /Navigation -->  
  
  <!--Cuerpo principal-->
  <div class="row" id="content">
    <div class="medium-8 columns">
      <div class="blog-post">
        <body>
          <%= yield %>
        </body>
      </div>
    </div>
<!--/Cuerpo principal-->
  
<!--Barra lateral-->
    <div class="medium-3 columns" data-sticky-container>
      <div class="sticky" data-sticky data-anchor="content">
        <p id="notice"><%= notice %></p>
        
      </div>
    </div>
  </div>
 <!--/Barra lateral-->


  <footer>
    <address>
      Contacta con <a href="mailto:webmaster@example.com">nosotros</a>.<br>
      Puerto Montt.<br>
      2016.
    </address> 
  </footer>
</div>
</body>
</html>